<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:75%">
    <tr>
      <td>
      </td>
      <% @stages.each do |stage| %>
        <th style="width: 70px">
          <span class="vertical">
            <p class="text-center">
            <%= stage.stage %>
            </p>
          </span>
        </th>
      <% end %>
      </tr>

    <% @sellers.each do |seller| %>
      <tr>
        <th>
          <p class="text-center">
            <%= seller.name %>
          </p>
        </th>
        <% @stages.each do |stage| %>
          <td align="center">
          </td>
        <% end %>
      </tr>
  <% end %>
  </table>
</div>
