<table border="2">
  <%# 1列目 %>
  <tr>
    <td>
    </td>
    <% @kinds.each do |kind| %>
      <th>
        <%= kind.kind %>
      </th>
    <% end %>
    </tr>

  <% @stages.each do |stage| %>
    <tr>
      <th>
          <%= stage.stage %>
      </th>
      <% @kinds.each do |kind| %>
        <td>
          <% if Connection.find_by(stage_id: stage.id, kind_id: kind.id).invalid_flag %>
          ☑️
          <% else %>
            -
          <% end %>
        </td>
      <% end %>
    </tr>
<% end %>
</table>
