<p>こんにちは <%= @resource.email %> さん</p>

<p>何方かがあなたのパスワードの変更を要求いたしました。 あなた様は ↓ のリンクからパスワードの変更が可能です。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, :reset_password_token => @token, :subdomain =>  @resource.subdomain) %></p>

<p>パスワードの変更を要求されたのがあなた様でいらっしゃらないのであれば、このメールは無視してください。</p>
<p>あなた様が ↑ のリンクにアクセスし、新しいパスワードを作成なさらなければ、あなた様のパスワードは決して変更されることはございません。</p>
