<% content_for :css do %>
  <%= stylesheet_link_tag 'reserved_stubs', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% page_count = 0 %>
<% total_page_count = (@tickets.size / (3*6).to_f).ceil %>
<% @tickets.each.with_index(1) do |ticket, i| %>
  <% if (i-1) % (3*6) == 0 %>
    <% page_count += 1 %>
      <span class="print-title">
        『<%= @stage.stage %>』 の予約一覧  /
        『<%= Time.current.strftime('%Y年%m月%d日 %H時%M分') %>』 印刷
      </span>
      <span class="print-page-number">
        <%= "#{page_count}/#{total_page_count}" %>
      </span>
  <% end %>

<div class="d-flex flex-row">
  <div class="my-box w-25">Flex 1</div>
  <div class="my-box w-25">Flex 2</div>
  <div class="my-box w-25">Flex 3</div>
</div>
<% end %>
