.position-in-the-cell1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.position-in-the-cell2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
