// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-width {
  width: auto;
}

.move-left {
    width: 40px;
    box-shadow: none;
}
