<p>こんにちは <%= @resource.email %> さん</p>

<p>規定回数以上の『メールアドレス / パスワード』の入力が実施されたため、あなた様のアカウントはロックされました。</p>

<p>あなた様のアカウントへのロックを解除するには、 ↓ のリンクをクリックなさってください。</p>

<p><%= link_to 'アカウントロックを解除', unlock_url(@resource, unlock_token: @token) %></p>
